@import url('../components/header/header.css');

.header--sticky {
  position: sticky;
  top: 0;
  z-index: 999;
  transition: all 0.5s ease;
  animation: smoothScroll 0.5s forwards;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: none;
  background-color: #8A4FFF;
  box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-85px);
  }
  100% {
    transform: translateY(0px);
  }
}

.spinner {
  width: 150px;
  height: 150px;
  fill: #8A4FFF;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.selectUser{
  appearance: none;
}

.selectUser::-ms-expand {
	/* IE */
	display: none;
}

.date::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.date::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
}

/* BOARD SCROLL */
.board-scroll::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
}
.board-scroll::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100vw;
  margin-block: .5em;
}
.board-scroll::-webkit-scrollbar-thumb {
  background: #8A4FFF;
  border: .15em solid transparent;
  border-radius: 100vw;
}
.board-scroll::-webkit-scrollbar-thumb:hover {
  background: #731dd8;
}
.board-scroll::-webkit-scrollbar-thumb:active {
  background: #3c096c;
}

/* COLUMN SCROLL */
.column-scroll::-webkit-scrollbar {
  width: 0.75rem;
}
.column-scroll::-webkit-scrollbar-track {
  background: #8A4FFF;
  border-radius: 100vw;
  margin-block: .5em;
}
.column-scroll::-webkit-scrollbar-thumb {
  background: rgb(240, 240, 240);
  border: .15em solid #8A4FFF;
  border-radius: 100vw;
}
.column-scroll::-webkit-scrollbar-thumb:hover {
  background: rgb(225, 225, 225);
}
.column-scroll::-webkit-scrollbar-thumb:active {
  background: rgb(200, 200, 200);
}
